/* default style */
:root {
  --main-text: #383784;
  --secondary-text: #7674af;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: cabin, sans-serif;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* default button */
.default_success_btn {
  min-width: 240px;
  min-height: 55px;
  font-family: cabin;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background: #4bcf3d;
  color: #fff;
  border-radius: 8px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.default_success_btn:hover {
  color: #fff !important;
  background: #349c28 !important;
}
.my_submit_btn_2 {
  min-width: 160px;
  min-height: 48px;
  font-family: cabin;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  background: #4bcf3d;
  color: #fff;
  border-radius: 8px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.my_submit_btn_2:hover {
  color: #fff !important;
  background: #349c28 !important;
}
.singup_btn_2 {
  min-width: 188px;
  min-height: 56px;
}
/* header start */
header {
  height: 704px;
  background: url(../images/background/bg_image@2x.png) no-repeat #bf217b;
  background-size: cover;
}
.my_nav_menu li a {
  font-size: 16px;
  font-family: cabin;
  letter-spacing: 0.26px;
  padding: 5px 12px;
  color: #fff !important;
  position: relative;
}
.my_nav_menu li a::after {
  content: "";
  width: 0px;
  height: 3px;
  background: #fff79e;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.my_nav_menu li a:hover:not(.menu_active)::after {
  width: 100%;
}
.my_nav_menu li a.menu_active::after {
  content: "";
  width: 18px;
  height: 3px;
  background: #fff79e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.nav_login_btn {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.27px;
  color: #ffb073;
  text-decoration: underline;
  padding: 0 12px;
}
.nav_login_btn:hover {
  text-decoration: none;
  color: #f8a15f;
}
.nav_signup_btn {
  color: #ffc496 !important;
  background: #fff79e3d;
  border: 1px solid #ffb073;
  margin: 0 15px;
  padding: 9px 23px;
  border-radius: 8px;
}
.nav_signup_btn:hover {
  color: #212529 !important;
}
.nav_api_btn {
  color: #fff79e;
  background: #ff882b;
  padding: 9px 23px;
  border-radius: 8px;
}

/* top slider */
.top_slider {
  padding-top: 100px;
}
.top_slider .slider_content {
  width: 500px;
}
.top_slider h2 {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.7px;
  line-height: 56px;
  margin-bottom: 40px;
}
.top_slider p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.88px;
  color: #ffb073;
  margin-bottom: 70px;
}
.top_slider .download_here_btn {
  padding: 14px 23px;
}
.top_slider .download_here_btn span {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.top_slider .download_here_btn:hover span {
  text-decoration: none;
}
/* what is sms section start */
.what_sms {
  width: 100%;
  padding: 116px 0;
}
.what_sms .what_sms_text h2 {
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: var(--main-text);
  margin-bottom: 45px;
}
.what_sms .what_sms_text .border_span {
  position: relative;
}
.what_sms .what_sms_text .border_span::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ed1c24;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.what_sms .what_sms_text > p {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.27px;
  color: var(--secondary-text);
  font-weight: 500px;
  margin-bottom: 36px;
}
.what_sms_text .sms_para {
  display: flex;
  margin-bottom: 44px;
}
.what_sms_text .sms_para:last-child {
  margin-bottom: 0;
}
.what_sms_text .sms_para span {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.27px;
  color: var(--secondary-text);
  font-weight: 500px;
  margin-left: 15px;
}
.what_sms_text .sms_para .icon {
  flex-shrink: 0;
  margin-top: 7px;
}
.what_sms .sms_image {
  padding-top: 48px;
  text-align: center;
}
/* what is sms section end */

/* try it now section start */
.try_it_now {
  width: 100%;
  background: transparent
    linear-gradient(180deg, #fff3eb54 0%, #fff3eb00 19%, #fff3eb 100%) 0% 0%
    no-repeat padding-box;
  padding: 64px 0;
}
.try_it_now .text_content {
  max-width: 556px;
  width: 100%;
  padding-top: 40px;
}
.try_it_now .text_content h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.51px;
  color: var(--main-text);
  margin-bottom: 18px;
}
.try_it_now .text_content p {
  padding-right: 30px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.32px;
  color: var(--secondary-text);
  margin-bottom: 30px;
}
.try_it_now .text_content p:last-child {
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  color: var(--secondary-text);
  margin-top: 20px;
}
.try_it_now .text_content p:last-child span {
  color: #4bcf3d;
}
.try_it_now .text_content .input_email {
  position: relative;
}
.try_it_now .text_content .input_email input {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.24px;
  height: 48px;
  border: 0.64px solid #4bcf3d75;
  outline: none;
  border-radius: 8px;
  padding-left: 55px;
}
.try_it_now .text_content .input_email input::placeholder {
  color: #a5a3ca;
}
.try_it_now .text_content .input_email .icon {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
/* try it now section end */

/* why choose sms start */
.why_sms {
  width: 100%;
  background: #fff;
  padding-top: 112px;
}
.head_title h2 {
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.77px;
  color: var(--main-text);
  font-weight: 600;
  text-align: center;
  margin-bottom: 75px;
  position: relative;
}
.head_title h2::after {
  content: "";
  width: 72px;
  height: 3px;
  background: #ed1c24;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
}
.why_sms .why_sms_content {
  display: flex;
  margin-bottom: 40px;
}
.why_sms .why_sms_content .icon {
  flex-shrink: 0;
  margin-right: 35px;
}
.why_sms .why_sms_content .icon img {
  padding-top: 5px;
}
.why_sms .why_sms_content .text_content h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--main-text);
  font-weight: 600;
  margin-bottom: 15px;
}
.why_sms .why_sms_content .text_content p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--secondary-text);
}
/* why choose sms end */

/* work slider section start */
.work_slide_section {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 116px;
}
.works_slider {
  padding: 0 95px;
}
.works_slider .carousel-inner {
  border-radius: 15px;
}
.works_slider .prev_btn {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}
.works_slider .prev_btn img {
  padding-right: 15px;
}
.works_slider .next_btn {
  position: absolute;
  right: 0;
  transform: translateX(100%);
}
.works_slider .next_btn img {
  padding-left: 15px;
}
/* work slider section end */

/* free trail section */
.free_trial {
  background: transparent linear-gradient(360deg, #f7fcf6 0%, #f7fcf600 100%) 0%
    0% no-repeat padding-box;
}
/* free trail section */

/* client group start */
.client_group {
  width: 100%;
  padding-top: 116px;
  padding-bottom: 50px;
}
.client_group .client_card {
  margin-bottom: 80px;
  text-align: center;
}
.client_group .client_card h3 {
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.84px;
  font-weight: 600;
  color: var(--main-text);
  margin-top: 24px;
}
/* client group end */

/* ready to started */
.ready_started {
  width: 100%;
  padding: 43px 0;
  background: transparent
    linear-gradient(180deg, #fff3eb54 0%, #fff3eb00 19%, #fff3eb 100%) 0% 0%
    no-repeat padding-box;
}
.ready_started .text_content h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.51px;
  color: var(--main-text);
  margin-bottom: 18px;
}
.ready_started .text_content p {
  padding-right: 30px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.88px;
  color: var(--secondary-text);
}
/* ready to started end */

/* out partners start */
.our_partners {
  width: 100%;
  padding: 110px 0;
}
.our_partners .partners_logo {
  text-align: center;
}
.our_partners .partners_logo .fake_logo {
  background: #54539d;
  color: #fff;
}
.our_partners .align_middle {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: center;
}
/* out partners end */

/* contact us */
.contact_us {
  width: 100%;
  padding-bottom: 116px;
}
.map_container {
  height: 280px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 60px;
}
.media_my_style {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.36px;
  color: var(--main-text);
}
.media_my_style_p {
  font-size: 15px;
  padding-right: 50px;
  color: #7674af;
}
.label_my_style {
  font-family: cabin;
  font-size: 15px;
  font-weight: 600;
  color: var(--main-text);
  letter-spacing: 0.66px;
}
.input_my_style {
  font-size: 15px;
  color: #7674af;
  border: 1px solid #dedeec;
  border-radius: 8px;
}
.input_my_style::placeholder {
  color: #a5a3ca;
}
.input_prove_human {
  position: relative;
}
.input_prove_human .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}
/* contact us */

/* footer section start */
.footer {
  width: 100%;
  background: transparent linear-gradient(360deg, #f7fcf6 0%, #f7fcf600 100%) 0%
    0% no-repeat padding-box;
  padding-top: 70px;
  padding-bottom: 55px;
  border-top: 2px solid #dedeec;
}
.footer .footer_content p a {
  font-size: 17px;
  letter-spacing: 0.27px;
  color: var(--main-text);
}
.footer .footer_content p a:hover {
  text-decoration: underline;
}
.footer .footer_content .icon img {
  padding-right: 12px;
}
.footer .footer_content .my_para {
  font-size: 17px;
  font-family: cabin;
  font-weight: 600;
  letter-spacing: 0.27px;
  color: var(--main-text);
}
.footer .footer_content .input_mail_2 {
  position: relative;
}
.footer .input_mail_2 .my_input {
  color: var(--main-text);
  min-height: 48px;
  padding-left: 45px;
  border: 1px solid #4bcf3d;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.footer .input_mail_2 .my_input::placeholder {
  color: #7674af;
}
.footer .input_mail_2 .my_input_span {
  min-width: 60px;
  border: 1px solid #4bcf3d;
  background: #4bcf3d;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.footer .input_mail_2 .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.media_my_style_2 h6 {
  font-size: 15px;
  font-family: cabin;
  letter-spacing: 0.36px;
  color: #7674af;
}
.media_my_style_2 p {
  font-family: cabin;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: #383784;
}
.my_margin_set {
  margin-bottom: 100px;
}
/* footer end */

/* responsive */
@media only screen and (min-width: 1200px) {
  .section_container {
    padding-left: 95px;
  }
  .work_slide_section .section_container {
    padding: 0 85px;
  }
  .ready_started .section_container {
    padding: 0 95px;
  }
}
