/* default style */
a:hover {
  text-decoration: none;
}
body {
  font-family: cabin, sans-serif;
}
img {
  max-width: 100%;
}
/* header start */
header {
  height: 704px;
  background: url(../images/background/bg_image@2x.png) no-repeat #bf217b;
  background-size: cover;
  padding-top: 16px;
}
.main_header {
  height: 70px;
  padding: 0 70px;
}
.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: block;
  text-align: right;
}
.menu li {
  display: inline-block;
  line-height: 70px;
}
.menu li a {
  font-size: 16px;
  font-family: cabin;
  letter-spacing: 0.26px;
  padding: 5px 12px;
  color: #fff;
  position: relative;
}
.menu li a::after {
  content: "";
  width: 0px;
  height: 3px;
  background: #fff79e;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.menu li a:hover:not(.active)::after {
  width: 100%;
}
.menu li a.active::after {
  content: "";
  width: 18px;
  height: 3px;
  background: #fff79e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.sign_menu {
  height: 70px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: flex-end;
}
.sign_menu a {
  font-family: cabin;
  font-size: 17px;
  font-weight: 500;
  padding: 9px 20px;
  border-radius: 8px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.sign_menu .login {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.27px;
  text-decoration: underline;
  color: #ffb073;
  padding: 0 12px;
}
.sign_menu .login:hover {
  text-decoration: none;
}
.sign_menu .sign_up {
  color: #ffc496;
  background: #fff79e3d;
  border: 1px solid #ffb073;
  margin: 0 15px;
}
.sign_menu .sign_up:hover {
  background: #ff882b;
  border-color: #ff882b;
  color: #fff79e;
}
.sign_menu .download_api {
  color: #fff79e;
  background: #ff882b;
}
.sign_menu .download_api:hover {
  color: #ffc496;
  background: #fff79e3d;
  border: 1px solid #ffb073;
}

/* slider */
.slider {
  padding: 0 165px;
  margin-top: 130px;
  font-family: cabin;
}
.slider .slider_container {
  max-width: 509px;
  width: 100%;
}
.slider h2 {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.7px;
  line-height: 56px;
  margin-bottom: 40px;
}
.slider p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.88px;
  color: #ffb073;
  margin-bottom: 70px;
}
.slider_button .get_start {
  padding: 12px 29px;
  font-size: 18px;
  font-weight: 600;
  background: #4bcf3d;
  color: #fff;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.slider_button .get_start:hover {
  background: #3fb832;
}
.slider_button .download_here {
  padding: 12px 23px;
}
.slider_button .download_here span {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.slider_button .download_here:hover span {
  text-decoration: none;
}
/* header end */

/* what is sms section start */
.what_sms {
  width: 100%;
  padding: 0 70px 0 165px;
}
.what_sms .container_area {
  padding: 116px 0;
}
.what_sms .what_sms_text h2 {
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: #383784;
  margin-bottom: 45px;
}
.what_sms .what_sms_text .border_span {
  position: relative;
}
.what_sms .what_sms_text .border_span::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ed1c24;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.what_sms .what_sms_text > p {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.27px;
  color: #7674af;
  font-weight: 500px;
  margin-bottom: 36px;
}
.what_sms_text .sms_para {
  display: flex;
  margin-bottom: 44px;
}
.what_sms_text .sms_para span {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.27px;
  color: #7674af;
  font-weight: 500px;
  margin-left: 15px;
}
.what_sms_text .sms_para .icon {
  flex-shrink: 0;
  margin-top: 7px;
}
.what_sms .sms_image {
  padding-top: 48px;
  text-align: right;
}
/* what is sms section end */

/* try it now section start */
.try_it_now {
  width: 100%;
  background: transparent
    linear-gradient(180deg, #fff3eb54 0%, #fff3eb00 19%, #fff3eb 100%) 0% 0%
    no-repeat;
  padding: 0 84.5px 0 165px;
}
.try_it_now .container_area {
  padding: 64px 0;
}
.try_it_now .text_container {
  display: flex;
  justify-content: flex-end;
}
.try_it_now .try_content {
  padding-top: 40px;
}
.try_it_now .try_content h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.51px;
  color: #383784;
  margin-bottom: 18px;
}
.try_it_now .try_content p {
  width: 513px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.32px;
  color: #7674af;
  margin-bottom: 30px;
}
.try_it_now .try_content p:last-child {
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  color: #7674af;
  margin-top: 20px;
}
.try_it_now .try_content p:last-child span {
  color: #4bcf3d;
}
.try_it_now .try_content .input_email {
  float: left;
  min-height: 48px;
  position: relative;
}
.try_it_now .try_content .input_email input {
  max-width: 384px;
  min-width: 384px;
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.24px;
  height: 48px;
  border: 0.64px solid #4bcf3d75;
  outline: none;
  border-radius: 8px;
  padding-left: 55px;
}
.try_it_now .try_content .input_email input::placeholder {
  color: #a5a3ca;
}
.try_it_now .try_content .input_email .icon {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
.try_it_now .try_content .started_button {
  min-height: 48px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 0 32px;
  color: #fff;
  border-radius: 8px;
  background: #4bcf3d;
  margin-left: 10px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.try_it_now .try_content .started_button:hover {
  background: #3aa72e;
}
/* try it now section end */

/* responsive */
@media only screen and (max-width: 1140px) {
  .main_header {
    padding: 0 40px;
  }
  .slider,
  .what_sms,
  .try_it_now {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 480px) {
  /* header start*/
  .main_header {
    padding: 0 20px;
  }
  .slider {
    padding: 0 20px;
  }
  .slider h2 {
    font-size: 32px;
    line-height: 30px;
  }
  .slider_button {
    text-align: center;
  }
}
